@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* This makes text look "sharper" like on a MacBook Pro screen */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.011em; /* Subtle tightening typical of Apple's UI */
  color: #1d1d1f; /* Apple's specific "Jet Black" for text */
}

h1, h2, h3, h4 {
  letter-spacing: -0.022em; /* Heavier tightening for bold headings */
}