@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Your Brand Overrides */
body {
  background-color: #F7F9FB; /* brand-white */
  color: #334155;            /* brand-slate */
}